*{
    margin: 0px;
    padding: 0px;
}

.w{
    width: 1200px;
    margin: auto;
}

.header{
    height: 72px;
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.logo img{
    float: left;
    width: 72px;
    height: 72px;
}
.nav{
    margin-top: 15px;
    height: 42px;
    
}
.name{
    float: left;
    line-height: 42px;
    color: steelblue;
    font-size: larger;
    text-align: center;
    margin-left: 60px;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: block;
    height: 42px;
    width: 80px;
    margin-left: 90px;

    line-height: 42px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.nav ul li a:hover{
    border-bottom: 2px solid lightskyblue;
}
.search {
    float: left;
    width: 400px;
    height: 42px;
    background-color: skyblue;
    margin-left: 80px;
}
.search button{
    float: left;
    width: 39px;
    height: 42px;
    background-color: steelblue;
    border: 0;
}
.search input{
    float: left;
    width: 345px;
    height: 40px;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
    border: 1px solid steelblue;
    border-right: 0px;
}
.banner{
    height: 421px;
    background-color: rgb(246, 158, 45,0.7);
}
.banner .w{
    height: 421px;
    background: url(./image/截屏2023-04-23\ 20.50.08.png) no-repeat top center
}
.subnav{
    float: left;
    width: 190px;
    height: 421px;
    background-color:rgba(0, 0, 0, 0.3)
} 
.subnav ul li{
    height: 45px;
    line-height: 45px;
    list-style: none;
    padding: 0 20px;
}
.subnav ul li a span{
    float: right;
}
.subnav ul li a{ 
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
}
.subnav ul li a:hover{
    color: rgb(22, 22, 22);
}
.plan{
    float: right;
    height: 300px;
    width: 230px;
    background-color: rgb(253, 210, 157);
    /*浮动的盒子没有外边距值*/
    margin-top: 50px;
}
.plan h2{
    height: 48px;
    background-color: rgb(244, 139, 10);
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255);
}
.bd{
    padding: 0 20px;
}
.bd ul{
    list-style: none;
}
.bd ul li{
    padding: 13px 0;
    border-bottom: 1px solid #f89306;
}
.bd ul li h4{
    font-size: 16px;
    color: #4e4e4e;
}
.bd ul li p{
    font-size: 12px;
    color: #5e5e5e;
}
.allplan{
    display: block;
    height: 38px;
    border: 1px solid #f89306;
    margin-top: 8px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    color: #f89306;
}
.allplan:hover{
    background-color: rgb(244, 139, 10,0.3);
}

