<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文档翻译</title>
    <style>
        textarea {
            width: 200px;
            height: 100px;
        }
        .output-wrap {
            width: 200px;
            height: 100px;
            background-color: lightslategrey;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="box">
            <div class="input-wrap">
                <textarea v-model="words"></textarea>
                <label for="languageSelect">选择语言：</label>
                <select id="languageSelect" v-model="selectedLanguage">
                    <option value="en">英语</option>
                    <option value="es">西班牙语</option>
                    <!-- 添加其他语言选项 -->
                </select>
            </div>
            <div class="output-wrap">
                <div class="transbox">{{ result }}</div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                words: '',
                result: '',
                selectedLanguage: 'en' // 默认选择英语
            },
            watch: {
                async words(newValue) {
                    if (!newValue) {
                        this.result = ''; // 清空结果
                        return;
                    }

                    const res = await axios({
                        url: 'https://applet-base-api-t.itheima.net/api/translate',
                        params: {
                            words: newValue,
                            lang: this.selectedLanguage // 将选定的语言传递给后端
                        }
                    });
                    this.result = res.data.data;
                }
            }
        });
    </script>
</body>
</html>